<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= typeof(title) !== 'undefined' ? title : 'Risk Sense Task' %></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

	<script src="//d3plus.org/js/d3.js"></script>
	<script src="//d3plus.org/js/d3plus.js"></script>
	
	<script src="/js/helpers.js"></script>
	<script async="async" src="/js/main.js"></script>
</head>
<body>
	<%- include(page) %>
</body>
</html>